body{
    background-color: aqua;
}
.boton{
    text-align: center;
    border-radius: 25px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    width: 70px;
    height: 17px;
    margin-top: 10px;
    display: block;
    text-decoration: none;
}
.boton:hover{
    background-color: white;
    color:#45a049;
}
@media only screen and (max-width: 767px) {
    /* CSS rules for mobile devices go here */
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* CSS rules for tablets go here */
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    /* CSS rules for desktops go here */
}

@media only screen and (min-width: 1440px) {
    /* CSS rules for televisions go here */
}